/*navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:-webkit-repeating-linear-gradient(-45deg,#800000,#B22222 6px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction:row;
}


li {
    float: left;
    display: flex;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background: -webkit-repeating-linear-gradient(-45deg,#800000,#B22222 6px);
}


#searcher{
    margin-left: auto;
    margin-right: 10px;
}

#searchBar{
    display: flex;
    width:10%;
    height: 100%;
    padding: 10.5px;
    padding-right: 45px;
    color: #313131;
    border: none;
    -webkit-transition: width 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 100;
    background: url("../img/SearchIcon.png") right center no-repeat;
    float: right;
}

#searchBar:hover{
    width: 83vw;
    border: solid 1.5px #800000;
    border: none;
}

#searchBar:focus{
    width: 83vw;
    outline:none;
    border: none;
}

/*navigation bar*/


.wrapper{
    margin: 2% auto ;
    width: 80vw;
    height: 80vh;
    background: -webkit-repeating-linear-gradient(-45deg,#800000,#B22222 6px);
    /*background: url("../img/bf.png");
    background-size: 100% 100%;*/
    box-shadow:gray 10px 10px 15px;
}

@media  screen and (max-width: 450px) {
    ul {
        -webkit-flex-direction: column;
    }
    #navLogo{
        margin: auto;
    }
    #navNavigate{
        width: 100%;
    }
}
