.headerLogo{
    background-color: transparent;
    margin: auto ;
    border: none;
}

.headerLogo li{
    margin: 30px auto;
}
/*navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: -webkit-repeating-linear-gradient(-45deg, #800000, #B22222 6px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
}

li {
    float: left;
    display: flex;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background: -webkit-repeating-linear-gradient(-45deg, #800000, #B22222 6px);
}

/*Search Bar*/
#searcher {
    margin-left: auto;
    margin-right: 10px;
}

#searchBar {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 11px;
    padding-right: 45px;
    color: #313131;
    border: none;
    -webkit-transition: width 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 100;
    background: url("../img/SearchIcon.png") right center no-repeat;
    float: right;
}

#searchBar:hover {
    width: 83vw;
    border: none;
}

#searchBar:focus {
    width: 83vw;
    outline: none;
    border: none;
}

/*Search Bar*/

/*navigation bar*/

.wrapper {
    margin: 2% auto;
    width: 80vw;
    height: 80vh;
    background: -webkit-repeating-linear-gradient(-45deg, #800000, #B22222 6px);
    box-shadow:  2px 3px 32px 0px rgba(36,33,36,1);
    transition: height 1s ease-in-out;
}

select:focus {
    outline-color: red;
}

select, .subs, .modCode, .modCredit {
    height: 30px;
    border-radius: 5px;
    color: #800000;
    border: solid;
    border-color: #800000;
    border-width: 3px;
    font-weight: 700;
    background-color: white;
    text-align: center;
}

select {
    width: auto;
}

.subs {
    width: 400px;
}

.modCode {
    width: 100px;
}

.modCredit {
    width: 50px;
}

.subs, .grade, .modCode.modCredit {
    visibility: hidden;
}

#tableMaintitle {
    visibility: hidden;
    color: white;
}

table {
    margin: auto;
}

table th {
    color: white;
    font-size: large;
    font-weight: 800;
}

#hiddenTable {
    display: none;
}

#semDD {
    margin-top: 225px;
    margin-left: 250px;
    background-color: #B22222;
    width: 250px;
    height: 70px;
    font-size: large;
    padding: 10px;
    color: white;
    border-radius: 50px;
    border-color: white;
    transition: margin-top 1s, margin 1s;
}

#functional {
    opacity: 0;
    list-style-type: none;
    margin: 0;
    padding: 5%;
    overflow: hidden;
    background-color: transparent;
    border: none;
}

#functional li {
    margin: auto;
}

input[type=button]{

    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 1px;
    -webkit-transition-duration: 0.6s;
    cursor: pointer;
    border-radius: 30px;
}

#calcBtn {
    color: #4CAF50;
    background-color: white;
    border: solid 3px #4CAF50;
}

#resetBtn {
    color: #B22222;
    background-color: white;
    border: solid 3px #B22222;
}

#calcBtn:hover {
    background-color: #4CAF50;
    color: white;
    border-color: white;
}

#resetBtn:hover {
    background-color: #B22222;
    color: white;
    border-color: white;
}

input[type=number] {
    padding: 8px 16px;
    text-align: center;
    border: solid 3px #B22222;
    color: #4CAF50;
    font-size: 16px;
    font-weight: 300;
    margin: 2px 1px;
    border-radius: 30px;
    width: 100px;
}

.semdepSelect{
    background-color: transparent;
    border: none;
    position: relative;
    left: 8%;
}

.semdepSelect li{
    margin: auto;
}

/*responsive*/
@media screen and (max-width: 450px) {

    #mainLogo{
        margin: 15px auto;
    }

    #mainLogo img{
        margin: auto;
        width: 150px;
        height: 75px;
    }

    #clock,#uniLogo{
        display: none;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    ul {
        -webkit-flex-direction: column;
    }

    iframe{
        display: none;
    }

    #navLogo {
        margin: auto;
    }

    #navNavigate {
        width: 100%;
    }

    #semDD {
        width: 200px;
        height: 30px;
        font-size: small;
        margin-left: 40px;
        margin-top: 175px;
        padding: 0;
        border-width: 3px;
    }

    .hide {
        display: none;

    }

    #functional li {
        margin: auto;
    }

    .semdepSelect{
        left: -6%;
    }

    #ddSem select,#ddDep select{
        width: 200px;
    }

}

#sGPA,#oGPA,#cGPA{
    padding: 8px 16px;
    text-align: center;
    border: solid 3px #4CAF50;
    color: #4CAF50;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    width: 100px;
    height: 20px;
    background-color: white;
    margin: 0;
    margin-bottom: 30px;
}

#results{
    opacity: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    border: none;
}

#results li{
    margin: auto;
}



/*responsive*/